# apiVersion: apps/v1
# kind: Deployment
# metadata:
#   name: backend
# spec:
#   replicas: 1
#   selector:
#     matchLabels:
#       app: backend
#   template:
#     metadata:
#       labels:
#         app: backend
#     spec:
#       containers:
#       - name: backend
#         image: ganeshbudhathoki/backend-app:84
#         imagePullPolicy: Always
#         ports:
#         - containerPort: 5000
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend

        image: ganeshbudhathoki/backend-app:84

        image: ganeshbudhathoki/backend-app:TAG_PLACEHOLDER

        imagePullPolicy: Always
        ports:
        - containerPort: 5000
