apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: ganeshbudhathoki/backend-app:20260203.000000
        imagePullPolicy: Always
        ports:
        - containerPort: 5000
